name: Application Security Bot
on: pull_request

jobs:
  build:
    name: AppSecInABox
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v1
      
    - name: Install Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.x'
    
    - name: Install Node
      steps:
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
    - run: sudo npm install -g @actions/core
    - run: sudo npm install -g @actions/github
    - run: sudo npm install -g @octokit/rest
    - run: sudo npm install -g @actions/exec
    - run: sudo npm install -g @actions/tool-cache
    - run: sudo npm install -g @mapbox/secret-shield

    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
        
    - name: Lizard
      run: pip install lizard

    - uses: rachicks/appsecbot/@2ae56c4583f39b0a20e615750a9b56651d43c0c0
      env:
        NODE_PATH: ~/.npm-global
        SPLUNK_TOKEN: "${{ secrets.SPLUNK_TOKEN }}"
        GITHUB_TOKEN: "${{ secrets.myToken }}"
        SPLUNK_URL:  "${{ secrets.SPLUNK_URL }}"
        DEBUG_ACTION: true
        APPSEC_GUY: rachicks
        IS_THIS_APPLICATION_EXTERNAL: false
        HANDLE_SENSITIVE_DATA: false
        SENSITIVE_DATA_DICTIONARY_LIST_HERE: "link"
        WELCOME_MESSAGE: ":wave: Welcome to the project! Till then you can checkout the ReadMe for more details on it. Join the Slack channel for discussions. Hope you have a great time here :) Security Documentation is located here: https://www.owasp.org/index.php/Main_Page"
